#main{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 5%;
}

p{
    font-size: 22px;
}

.img-fluid{
    margin-top: 10%;
    margin-bottom: 10%;
    
}