mark{
  background-color: rgb(255, 233, 108);
  border-radius: 30%;
}

#btn{
  margin: 1%;
}

#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-size: 30px;
  font-style: bold;
}

.resultDesc{
  font-size: 20px;
  padding-left: 18%;
  padding-right: 18%;
}

#resultImg{
  animation: fadeIn 2s;
}

.kakao{
  color: white;
  background-color: #FEE500;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FEE500;
}

.gohome{
  color: white;
  background-color: rgb(0, 70, 42);
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.gohome:hover, .gohome:focus {
  background-color: whitesmoke;
  color: rgb(0, 70, 42);
}
